body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}
#cover{
    background: url(cover-img.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}
#mainNav a{
    color: white;
    font-size: 1.2rem;
    padding: 0 0 2px;
    /* transition-property: border-bottom-width;
    transition-timing-function: ease-out;
    transition-duration: 10s;
    transition-delay: .2s; */
    word-spacing: 1px;
    
}
#mainNav a::after{
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 2px solid #37f0e0;
    transition: 0.25s;
    transform: scaleX(0);

}
#mainNav a:hover::after{
    transform: scaleX(1);
}

#cover .container{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 10px;
    font-weight: normal;
}
#logo{
    width: 100px;
    height: 100px;
    margin: 25px 30px;
}
.coverBtn{
    border-radius: 30px;
    font-size: 2rem;
    padding: 7px 40px;
}
.coverBtn:hover{
    font-size: 2.1rem;
    padding: 10px 43px;
}
.base{
    margin: 30px auto;
}
.btn-outline-success{
    background: #1eb368;
    border: 3px solid #1eb368;
}
.btn-outline-primary{
    border: 3px solid #37f0e0;
    color: #37f0e0;
}
.btn-outline-success:hover{
    background: #12700f;
    border: 3px solid #12700f;
}
.btn-outline-primary:hover{
    border: 5px solid #37f0e0;
    background-color: #37f0e0;
    color: white;
}
.navbar-toggler{
    margin-left: 0;;
}
.navToggler{
    background-color: black;
    width: 100%;
}
#collapsed-span, #collapsed-navbar{
    width: 100%;
}
#secondP{
    padding: 50px 40px;
}
#secondP p{
    font-size: 1.1rem;
}
#opt p{
    line-height: 1.2rem;
    font-size: 1rem;
    letter-spacing: 0.01px;
}
#secondP .icon{
    color: orangered;
    font-size: 5rem;
}
.hrline{
    width: 10%;
    background-color: maroon;
    height: 1px;
}
#thirdP img{
    height: 120px;
    width: 100%;
    align-content: center;
    /* image-orientation: flip;
    box-sizing: border-box;*/
    /* transform: scaleX(1.3);
    transition: .25s;
    box-sizing: border-box; 
    overflow: hidden;
}
 #thirdP img:hover{
    transform: scaleX(1);
    width: 100%; */
} 
#fourthP{
    background-color: #f7e2b0;
    font-size: 1.1rem;
    width: 100%;
}
#fourthP .margin{
    width: 200px;
    height: 400px;
    margin-right: 20px;
}
.trying{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px 0;
    text-align: center;
    font-size: 1.8rem;
}
#fourthP .row{
    position: static;
}
.number{
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    color: white;
    font-size: 2rem;
    position: absolute;
}
#fourthP .para{
    padding: 1px;
}
#fourthP .pr-md-5{
    margin-right: 4rem!important;
}
#playstore img:nth-child(1){
    width: 150px;
    max-height: 70px;
}
#playstore img:nth-child(2){
    width: 130px;
    margin-left: 10px;
    max-height: 40px;
}
#fifthP ul{
    list-style-type: none;
    padding-left: 0;
}
#fifthP i, #fifthP a{
    color: orangered;
}
#fifthP .card{
    background-color: #f2f2f2;
    border: none;
}
#fifthP img{
    width: 100%;
    height: 150px;
}
#sixthP{
    background: url(sixthP-background.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
}
.opacity{
    background-color: rgba(0, 0, 0, 0.7);
}
#sixthP img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#sixthP .row{
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
}
#sixthP i{
    color: orangered;
    font-size: 6rem;
}
#sevenP .backg{
    background-color: white;
    border-radius: 20px;
    font-size: 1.1rem;
}
#sevenP .green{
    color: rgb(82, 221, 82);
}
#sevenP .big{
    font-size: 3.5rem;
}
#sevenP ul{
    list-style-type: none;
    padding-left: 0;
}
#sevenP  li{
    padding: 10px 0;
}
#sevenP i{
    color: orangered;
}
#sevenP .btn-success{
    border-radius: 50px;
    width: 100%;
    font-size: 1.3rem;
}
#sevenP .row hr{
    width: 50%;
}
#eightP .base{
    background-color:  #f7f7f7;
}
.row{
    margin-right: 0;
}
#eightP form label{
    padding-left: 25%;

}
#eightP form .form-control{
    width: 80%;
}
#eightP form input , #eightP form select, #eightP form textarea{
    border: 1px solid black;
}
#eightP button i{
    color: rgb(253, 249, 0);
    background-color: black;
    border-radius: 50%;
    border: 2px solid black;
}
#eightP button{
    font-size: 1.5rem;
}
#eightP .container a{
    color:black;
}
#eightP .first a:hover{
    color:white;
}
#eightP .second a:hover{
    color: rgb(240, 23, 157); 
}
#eightP .second a{
    font-size: 1.5rem;
}
#eightP .end{
    color: white;
    word-spacing: 4px;
}
#eightP .end i{
    color:red;
}
#eightP .end span{
    color: rgb(240, 23, 157);
}

 body #cover .navbar-scroll{
    position: fixed!important;
    background: pink;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
}

/*  */

.heading{
    padding-top: 100px;
}
.heading h1{
    font-size: 3rem;
}
@media only screen and (min-width: 490px){
    .box-number .col-2{
        padding: 0;
    }
    .box-number{
        margin-right: 0;
    }
}