body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
#cover{
    background: url(cover-img.jpg) no-repeat;
    background-size: cover;
    color: white;
    height: 610px;
    width: 100%;
    margin: 0;
}
#mainNav a{
    color: white;
    font-size: 1.2rem;
    padding: 0 0 2px;
    /* transition-property: border-bottom-width;
    transition-timing-function: ease-out;
    transition-duration: 10s;
    transition-delay: .2s; */
    word-spacing: 1px;
    border-bottom: 0px solid #37f0e0;
    transition: border 4s ease-in;
}
#mainNav a:hover{
    border-bottom-width: 2px;
    
}
#cover .container{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 10px;
    font-weight: normal;
}
#logo{
    width: 100px;
    height: 100px;
    margin: 25px 30px;
}
.coverBtn{
    border-radius: 30px;
    font-size: 1.8rem;
    padding: 0px 40px;
}
.coverBtn:hover{
    font-size: 2rem;
    padding: 2px 50px;
}
.base{
    margin: 30px auto;
}
.btn-outline-success{
    background: #1eb368;
    border: 3px solid #1eb368;
}
.btn-outline-primary{
    border: 3px solid #37f0e0;
    color: #37f0e0;
}
.btn-outline-success:hover{
    background: #12700f;
    border: 3px solid #12700f;
}
.btn-outline-primary:hover{
    border: 5px solid #37f0e0;
    background-color: #37f0e0;
    color: white;
}
.navbar-toggler{
    margin-left: 0;;
}
.navToggler{
    background-color: black;
}
